/*
========================================================================================
    Nextflow Configuration File
========================================================================================
*/

params {
    samplesheet = "samplesheet.csv"
    outdir      = "results"
}

process {
    cpus   = 4
    memory = 8.GB
    
    errorStrategy = { task.exitStatus in [1, 143, 137, 255] ? 'retry' : 'finish' }
    maxRetries    = 3
}

// Visual progress & performance tracking reports
report {
    enabled   = true
    file      = "${params.outdir}/pipeline_report.html"
    overwrite = true
}

timeline {
    enabled   = true
    file      = "${params.outdir}/pipeline_timeline.html"
    overwrite = true
}

trace {
    enabled   = true
    file      = "${params.outdir}/pipeline_trace.txt"
    fields    = 'task_id,name,status,exit,realtime,%cpu,peak_rss'
    overwrite = true
}

dag {
    enabled   = true
    file      = "${params.outdir}/pipeline_dag.html"
    overwrite = true
}