params {
    samplesheet = "samplesheet.csv"
    outdir      = "results"
}

process {
    withLabel: tiny {
        cpus   = 1
        memory = 1.GB
    }

    withLabel: base {
        cpus   = 2
        memory = 4.GB
    }

    withLabel: low {
        cpus   = 4
        memory = 8.GB
    }

    withLabel: medium {
        cpus   = 8
        memory = 16.GB
    }

    withLabel: high {
        cpus   = 16
        memory = 32.GB
    }

    withLabel: full {
        cpus   = 32
        memory = 64.GB
    }
}

report {
    enabled   = true
    file      = "${params.outdir}/pipeline_report.html"
    overwrite = true
}

timeline {
    enabled   = true
    file      = "${params.outdir}/pipeline_timeline.html"
    overwrite = true
}

trace {
    enabled   = true
    file      = "${params.outdir}/pipeline_trace.txt"
    fields    = 'task_id,name,status,exit,realtime,%cpu,peak_rss'
    overwrite = true
}

dag {
    enabled   = true
    file      = "${params.outdir}/pipeline_dag.html"
    overwrite = true
}